# 1. 로컬 환경 변수 파일 (절대 유출 방지)
.env
.env.local

# 2. 파이썬 실행 시 자동 생성되는 캐시 파일 (깃 허브에 올라가면 지저분해짐)
__pycache__/
*.py[cod]
*$py.class

# 3. 로컬 가상환경 폴더 (내 컴퓨터에만 설정된 것이라 공유 금지)
.venv/
venv/
ENV/

# 4. 에디터 및 툴 설정 파일
.vscode/
.idea/
.DS_Store